<!--<div class="row">-->
<!--<div class="col">-->
<!--<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" (click)="_openModal(template)">-->
<!--Create new room-->
<!--</button>-->
<!--</div>-->
<!--</div>-->

<ngx-spinner
  bdColor = "rgba(51,51,51,0.8)"
  size = "large"
  color = "#27e9d2"
  type = "ball-climbing-dot"
></ngx-spinner>

<!--<app-navbar></app-navbar>-->

<div class="row justify-content-between mt-4">
  <h3>{{this.userId == '0' ? "All rooms": "Your rooms"}}</h3>
  <!--<h3>All rooms</h3>-->
  <div>
    <label class="mr-2">Number of rooms per page:</label>
    <div class="btn-group">
      <label (click)="loadRooms()" class="btn btn-primary" [(ngModel)]="size"
             btnRadio="6" tabindex="0" role="button">6</label>
      <label (click)="loadRooms()" class="btn btn-primary" [(ngModel)]="size"
             btnRadio="9" tabindex="0" role="button">9</label>
      <label (click)="loadRooms()" class="btn btn-primary" [(ngModel)]="size"
             btnRadio="12" tabindex="0" role="button">12</label>
    </div>
  </div>
</div>

<div class="row text-center justify-content-around" *ngIf="totalPages">
  <div *ngIf="userId!='0'" (click)="_openModal(reactiveCreateTempl)" class="card mp-cards col-sm-12 col-md-5 col-lg-3">
    <div class="btn row justify-content-center ">
      <span style="font-size: 120px; color: Dodgerblue;">
        <span class="fas fa-plus"></span>
      </span>
    </div>
  </div>

  <div class="card col-sm-12 col-me-5 col-lg-3 mp-cards" *ngFor="let room of rooms">
    <div class="card-body">
      <div class="card-title">
        <h5>{{room.name}}</h5>
        <button (click)="_openModal(reactiveCreateTempl, room)" *ngIf="userId!='0'" class="btn btn-warning"><i class="fas fa-edit"></i></button>
      </div>
      <p class="card-text">{{room.description}}</p>
      <div class="row justify-content-end">
        <button (click)="_openEnterModal(enterTempl, room)" class="btn btn-primary col-5">Enter</button>
      </div>
    </div>
  </div>
</div>


<div class="pagination d-flex justify-content-center" *ngIf="totalPages">
  <ul class="pagination">
    <li class="page-item" [class.disabled]="currentPage <= 1">
      <a class="page-link" (click)="loadPrev()">Previous</a>
    </li>
    <li class="page-item" [class.disabled]="currentPage == page" *ngFor="let page of pages">
      <a class="page-link" (click)="currentPage = page; loadRooms(); ">{{ page }}</a>
    </li>
    <li class="page-item" [class.disabled]="currentPage >= totalPages">
      <a class="page-link" (click)="loadNext()">Next</a>
    </li>
  </ul>
</div>

<!-- Modal -->
<ng-template #enterTempl>
  <form>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Enter the room</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="_closeModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <!--<label>Name</label>-->
        <input class="form-control" name="Name" [(ngModel)]="selectedRoom.name" readonly />
      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" name="Password" [(ngModel)]="enteredPassword" #password="ngModel" required />
        <div [hidden]="password.valid || password.untouched" class="alert alert-danger">
          Please enter Password
        </div>
      </div>
      <div *ngIf="incorrect">
        <alert type="danger" dismissible="true" (onClosed)="closeAlert()">
          Wrong password
        </alert>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" (click)="goToRoom()" [disabled]="password.invalid">
        Enter
      </button>
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="_closeModal()">Close</button>

    </div>
  </form>
</ng-template>

<ng-template #reactiveCreateTempl>
  <form [formGroup]="formGroup" (validSubmit)="onSubmit()">
    <div class="modal-header">
      <h4 class="modal-title pull-left">{{editMode ? "Edit": "Create new"}} Room</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="_closeModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <input type="text" placeholder="Name" class="form-control" formControlName="Name">
      </div>
      <div class="form-group">
        <input type="password" placeholder="Password" class="form-control" formControlName="Password">
      </div>
      <div class="form-group">
        <textarea type="text" placeholder="Description" class="form-control" formControlName="Description"></textarea>
      </div>
      <div class="form-group">
        <input type="number" placeholder="Max amount of users" class="form-control" formControlName="MaxUsers">
      </div>
      <div *ngIf="incorrect">
        <alert type="danger" dismissible="true" (onClosed)="closeAlert()">
          This name is already in use
        </alert>
      </div>

      <div class="row justify-content-end">
        <button class="btn btn-success m-2" type="submit">Create</button>
        <button type="button" class="btn btn-secondary m-2" data-dismiss="modal" (click)="_closeModal()">Close</button>
      </div>
    </div>
  </form>
</ng-template>
